<% include ../partials/header %>
    
    <div class="container newform">
        <h2 class="title">Edit <%= character.name %></h2>
        <div class="backdrop">
            <form class="session" action="/characters/<%= character.id %>?_method=PUT" method="POST">
            
            <div class="form-group">
                <label>Name</label>
                <input class="form-control" type="text" value="<%= character.name %>" name="character[name]">
            </div>
            
            <div class="form-group">
                <label>Race</label>
                <input class="form-control" type="text" value="<%= character.race %>" name="character[race]">
            </div>
            
            <div class="form-group">
                <label>Class</label>
                <input class="form-control" type="text" value="<%= character.gameClass %>" name="character[gameClass]">
            </div>
            
            <div class="form-group">
                <label>Unique Skill</label>
                <input class="form-control" type="text" value="<%= character.skill %>" name="character[skill]">
            </div>
            
            <div class="form-group">
                <label>Image</label>
                <input class="form-control" type="text" value="<%= character.image %>" name="character[image]">
            </div>
            
            <div class="form-group">
                <label>Likes</label>
                <input class="form-control" type="text" value="<%= character.likes %>" name="character[likes]">
            </div>
            
            <div class="form-group">
                <label>Dislikes</label>
                <input class="form-control" type="text" value="<%= character.dislikes %>" name="character[dislikes]">
            </div>
            
            <button class="deleteButton" href="/characters/<%= character.id %>">Go Back</button>
            <button class="editButton pull-right" type="Submit">Submit</button>
        </form>
        </div>
    </div>        

<% include ../partials/footer %>