<% include ../partials/header %>
    <div>
        <h1 class="title"><strong>Hall of Heroes</strong></h1>
        <div class="wrapper">
            <% character.forEach(function(char){ %>
                <div class="card">
                <a class="thumbnail" href="/characters/<%= char.id %>">
                    <img src="<%= char.image %>">
                    <div class="caption">
                        <h3><%= char.name %></h3>
                        <p><%= char.race %> <%= char.gameClass %></p>                    
                    </div>
                </a>
                </div>
            <%  }); %>
        </div>
    </div>
    
    <script>
        const cards = document.querySelectorAll(".card");
        
        function showCard(){this.classList.add("card-active");}
        function hideCard(){this.classList.remove("card-active");}
        
        cards.forEach(card => card.addEventListener("mouseenter", showCard));
        cards.forEach(card => card.addEventListener("mouseleave", hideCard));
    </script>
<% include ../partials/footer %>