<% include ../partials/header %>
    
    <!--********** CHARACTER INDEX **********-->
    <!-- All character data passed through via Character INDEX route -->
    
    <h1>Hall of Heroes</h1>
    
    <div class="wrapper">
        
        <!-- Javascript to create card for each character with basic info -->
        <% character.forEach(function(char){ %>
            <div class="card">
                <!-- Each card is a link to the individual Character SHOW route -->
                <a class="thumbnail" href="/characters/<%= char.id %>">
                    <img src="<%= char.image %>">
                    <div class="caption">
                        <h3><%= char.name %></h3>
                        <p><%= char.race %> <%= char.gameClass %></p>                    
                    </div>
                </a>
            </div>
        <%  }); %>
    
    </div>
    
<% include ../partials/footer %>