<% include ../partials/header %>
    <div class="container">
        <h1 class="title"><strong>Hall of Heroes</strong></h1>
        <div class="row">
            <% character.forEach(function(char){ %>
                <div class="col-sm-4 col-md-3 card">
                <a class="thumbnail" href="/characters/<%= char.id %>">
                    <img src="<%= char.image %>">
                <div class="caption">
                    <h3><%= char.name %></h3>
                    <p><%= char.race %> 
                    <%= char.gameClass %></p>                    
                </div>
                </a>
                </div>
            <%  }); %>
        </div>
    </div>        
<% include ../partials/footer %>