<% include ../partials/header %>
    <div class="container">
        <div class="profile-backdrop flex-container">
            <div class="session">
                <h3 class="title"><%= character.name %></h3>
                <img class="pull-right profile-pic" src="<%= character.image %>">
                <p>Class: <%= character.gameClass %></p>
                <p>Likes: <%- character.likes %></p>
                <p>Dislikes: <%- character.dislikes %></p>
                <a href="/characters/<%= character._id %>/edit">Edit</a>
                <form action="/characters/<%= character._id %>?_method=DELETE" method="POST">
                    <button>Delete</button>
                </form>
            </div>
        </div>
    </div>        

<% include ../partials/footer %>