<% include ../partials/header %>
    <div class="container">
        <div class="profile-backdrop flex-container">
            <div class="session">
                <h3 class="title"><%= character.name %></h3>
                <img class="pull-right profile-pic" src="<%= character.image %>">
                <p><strong>Race:</strong> <%= character.race %></p>
                <p><strong>Class:</strong> <%= character.gameClass %></p>
                <p><strong>Unique Skill:</strong> <%=character.skill %></p>
                <p><strong>Likes:</strong> <%- character.likes %></p>
                <p><strong>Dislikes:</strong> <%- character.dislikes %></p>
                <form class="form-inline" action="/characters/<%= character._id %>?_method=DELETE" method="POST">
                    <button class="editButton"><a href="/characters/<%= character._id %>/edit">Edit</a></button>
                    <button class="deleteButton">Delete</button>
                </form>
            </div>
        </div>
    </div>        

<% include ../partials/footer %>