<% include ../partials/header %>

    <!--********** CHARACTER SHOW **********-->
    <!-- Character data passed in via Character SHOW route -->

    <div class="profile-backdrop">
        <div class="session">
            
            <h3><%= character.name %></h3>
            
            <div class="profile">
                <div class="profile-details">
                    <p><span>Race:</span> <%= character.race %></p>
                    <p><span>Class:</span> <%= character.gameClass %></p>
                    <p><span>Unique Skill:</span> <%=character.skill %></p>
                    <p><span>Likes:</span> <%= character.likes %></p>
                    <p><span>Dislikes:</span> <%= character.dislikes %></p>
                    
                    <form class="form-inline" action="/characters/<%= character._id %>?_method=DELETE" method="POST">
                    
                        <!-- This button leads to editing via Character EDIT route -->
                        <button class="editButton"><a href="/characters/<%= character._id %>/edit">Edit</a></button>
                    
                        <!-- This button permanently deletes the character via Character DELETE route -->
                        <button class="deleteButton">Delete</button>
                    
                    </form>        
                </div>
                
                <img class="profile-pic" src="<%= character.image %>">
            
            </div>
        </div>
    </div>

<% include ../partials/footer %>