<% include ../partials/header %>

<div class="container">
    <div class="newform">
        <form action="/sessions/<%= session._id %>?_method=PUT" method="POST">
            
            <div class="form-group">
                <label>Session Title</label>
                <input class="form-control" type="text" name="session[title]" value="<%= session.title %>">
            </div>
            
            <div class="form-group">
                <label>Session Date</label>
                <input class="form-control" type="text" name="session[date]" value="<%= session.date %>">
            </div>
            
            <div class="form-group">
                <label>Dungeon Master</label>
                <input class="form-control" type="text" name="session[dm]" value="<%= session.dm %>">
            </div>
            
            <div class="form-group">
                <label>Image URL</label>
                <input class="form-control" type="text" name="session[image]" value="<%= session.image %>">
            </div>
            
            <div class="form-group">
                <label>Image Caption</label>
                <input class="form-control" type="text" name="session[caption]" value="<%= session.caption %>">
            </div>
            
            <div class="form-group">
                <label>Party Members</label><br>
                <% characters.forEach(function(character){ %>
                    <% var checked = false; %>
                    <% session.characters.forEach(function(id){ %>
                        <% if(id == character.id){ %>
                        <% checked = true; } %>
                    <% }); %> 
                    <% if (checked) { %>
                        <input checked class="form-check-input inlineCheck" type="checkbox" name="session[characters]" value="<%= character.id %>" id="<%= character.id %>">
                        <label for="<%= character.id %>"><%= character.name %></label>
                    <% } else { %>
                        <input class="form-check-input inlineCheck" type="checkbox" name="session[characters]" value="<%= character.id %>" id="<%= character.id %>">
                        <label for="<%= character.id %>"><%= character.name %></label>
                    <% } %>
                <% }); %>
            </div>
                 
            <div class="form-group">
                <label>Session Content</label>
                <textarea class="form-control" name="session[content]"><%- session.content %></textarea>
            </div>
            
            <input type="submit">
        </form>
        <a class="pull-right" href="/sessions/<%= session._id %>"><button>Go Back</button></a>
    </div>
</div>

<% include ../partials/footer %>