<% include ../partials/header %>

<div class="container">
    <div class="row">
        
        <div class="col-xs-4 col-sm-3 col-md-2">
            <div class="backdrop">           
                <ol>
                    <% sessions.forEach(function(entry){ %>
                        <li><a href="#<%= entry._id %>"><strong><%= entry.title %></strong></a></li>
                    <% }) %>
                </ol>
            </div> 
        </div>
        
        <div class="col-xs-8 blue col-sm-9 col-md-10">
            <div class="backdrop">
                <% sessions.forEach(function(entry){ %>
                    <div class="session">
                        <h2><a name="<%= entry._id %>"></a><strong><%= entry.title %></strong></h2>
                        <p><%- entry.content %></p>
                        <button class="btn btn-info" href="/sessions/<%= entry._id %>">Details</button>
                        <button class="btn btn-primary" href="/sessions/<%= entry._id %>/edit">Edit</button>
                        <hr>
                    </div>
                <% }); %>
            </div>
        </div>
        
    </div>
</div>

<% include ../partials/footer %>