<% include ../partials/header %>

<div class="container">
    <div class="row">
        <div class="col-xs-4 col-sm-3 col-md-2 red">
            <ol>
                <% sessions.forEach(function(entry){ %>
                    <li><a href="#<%= entry._id %>"><%= entry.title %></a></li>
                <% }) %>
            </ol>
        </div>
        <div class="col-xs-8 blue col-sm-9 col-md-10 blue">
            <% sessions.forEach(function(entry){ %>
                <div>
                    <h2><a name="<%= entry._id %>"></a><%= entry.title %></h2>
                    <p><%- entry.content %></p>
                    <a href="/sessions/<%= entry._id %>/edit" type="button">Edit</a>
                    <a href="/sessions/<%= entry._id %>" type="button">Details</a>
                </div>
            <% }); %>
        </div>
    </div>
</div>



<% include ../partials/footer %>