<% include ../partials/header %>

    <div class="container">
        <h2><%= session.title %></h2>
        <p>Party Members:
            <% var party = session.characters; %>
            <% party.forEach(function(character){ %>    
                <a href="/characters/<%= character._id %>" ><%= character.name + " " %></a>
            <% }) %>
        </p>
        <p><%- session.content %></p>
        <a href="/<%= session._id %>/edit"><button class="btn btn-xs btn-warning">Edit</button></a>
        <form action="/<%= session._id %>?_method=DELETE" method="POST">
            <button class="btn btn-danger btn-xs">Delete</button>
        </form>
    </div>

<% include ../partials/footer %>