<% include ./partials/header %>

<div class="container">
    <div class="row">
        <div class="col-xs-4 col-sm-3 col-md-2 red">
            <ol>
                <% sessions.forEach(function(entry){ %>
                    <li><a href="#<%= entry.id %>"><%= entry.title %></a></li>
                <% }) %>
            </ol>
        </div>
        <div class="col-xs-8 blue col-sm-9 col-md-10 blue">
            <% sessions.forEach(function(entry){ %>
                <div name="<%= entry.id %>">
                    <h2><%= entry.title %></h2>
                    <p>Party Members:
                        <% var party = entry.party; %>
                        <% party.forEach(function(character){ %>    
                            <a href="/characters/<%=character%>" ><%= character + " " %></a>
                        <% }) %>
                    </p>
                    <p><%- entry.content %></p>
                </div>
            <% }) %>
        </div>
    </div>
</div>



<% include ./partials/footer %>